<nav id="top-menu-container">
  <div id="nav-logo"></div>
  <div id="nav-main">
    <a href="/" class="nav-link">Home</a>
    <a href="/my-resources" class="nav-link">My Resources</a>
    <% if (typeof user_id !== 'undefined') { %>
      <a href="/new-resource" class="nav-link">Add Resource</a>
    <% } %>
  </div>

  <div id="nav-user">
    <% if (user !== null) { %>
      <span> Hello <%= (user.name) %> </span>
      <a href="/logout" class="nav-link">Logout</a>
    <% } else { %>
      <a href="/login" class="nav-link">Login</a>
      <a href="/signup" class="nav-link">Signup</a>
    <% } %>
  </div>
</nav>
