<nav id="side-menu-container">
  <h4>Topics</h4>
  <% topics.forEach(function(topic) { %>
    <% const url = originUrl === "/" ? "/" : "/my-resources" %>
    <a href="<%= url %>?topic=<%= topic.id %>" id="topicBtn<%= topic.id %>" class="nav-link topicBtn"><%= topic.name %></a>
  <% }); %>
  <button id="resetFilter" class="resetFilter">Reset Filter</button>
</nav>
