<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Wall</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav id="top-menu-container">
    <div id="nav-logo">Logo</div>
    <div id="nav-main">
      <a href="/" class="nav-link">Home</a>
      <a href="/" class="nav-link">My Resource</a>
    </div>

    <div id="nav-user">
      <span>User Name</span>
      <a href="/" class="nav-link">Login</a>
      <a href="/" class="nav-link">Signup</a>
    </div>

  </nav>
  <main id="main-container">
    <nav id="side-menu-container">
      <h4>Topics</h4>
      <a href="/resources?topic=javascript" class="nav-link">Javascript</a>
      <a href="/resources?topic=html" class="nav-link">HTML</a>
      <a href="/resources?topic=css" class="nav-link">CSS</a>
    </nav>
    <section id="section-container">
      <div id="search-bar">
        <form>
          <input type="text" id="searchInput" name="search" placeholder="Quick search...">
          <button type="submit" class="fa-solid fa-magnifying-glass"></button>
        </form>
      </div>
      <item>
        <img src="/images/200x200-JS.png"/>
        <span>Resource Title B</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title C</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title D</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-CSS.png"/>
        <span>Resource Title E</span>
        <topic>CSS</topic>
      </item>
      <item>
        <img src="/images/200x200-JS.png"/>
        <span>Resource Title A</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/images/200x200-JS.png"/>
        <span>Resource Title B</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title C</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title D</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-CSS.png"/>
        <span>Resource Title E</span>
        <topic>CSS</topic>
      </item>
      <item>
        <img src="/images/200x200-JS.png"/>
        <span>Resource Title B</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title C</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-HTML.png"/>
        <span>Resource Title D</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/images/200x200-CSS.png"/>
        <span>Resource Title E</span>
        <topic>CSS</topic>
      </item>
    </section>
  </main>
  <footer id="footer-container">2023 Resource Wall - Midterm Project by Irina, Sowmy & Kevin.</footer>
</body>

</html>
