<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Wall</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav id="top-menu-container">
    <div id="nav-logo">Logo</div>
    <div id="nav-main">
      <a href="/" class="nav-link">Home</a>
      <a href="/" class="nav-link">My Resource</a>
    </div>
    <div id="nav-search">-Search Bar Here-
    </div>
    <div id="nav-user">
      <a href="/" class="nav-link">Login</a>
      <a href="/" class="nav-link">Signup</a>
    </div>

  </nav>
  <main id="main-container">
    <nav id="side-menu-container">
      <h4>Topics</h4>
      <a href="/resources?topic=javascript" class="nav-link">Javascript</a>
      <a href="/resources?topic=html" class="nav-link">HTML</a>
      <a href="/resources?topic=css" class="nav-link">CSS</a>
    </nav>
    <section id="section-container">
      <item>
        <img src="/"/>
        <span>Resource span A</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span B</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span C</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span D</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span E</span>
        <topic>CSS</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span A</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span B</span>
        <topic>Javascript</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span C</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span D</span>
        <topic>HTML</topic>
      </item>
      <item>
        <img src="/"/>
        <span>Resource span E</span>
        <topic>CSS</topic>
      </item>
    </section>
  </main>
  <footer id="footer-container">2023 Resource Wall - Midterm Project by Irina, Sowmy & Kevin.</footer>
</body>

</html>
