<nav id="top-menu-container">
  <div id="nav-logo"></div>
  <div id="nav-main">
    <a href="/" class="nav-link">Home</a>
    <a href="/myresource" class="nav-link">My Resource</a>
  </div>

  <div id="nav-user">
    <span>User Name</span>
    <a href="/login" class="nav-link">Login</a>
    <a href="/signup" class="nav-link">Signup</a>
  </div>
</nav>
