<div id="search-bar">
  <form>
    <input type="text" id="searchInput" name="search" placeholder="Quick search...">
    <button type="submit" class="fa-solid fa-magnifying-glass"></button>
  </form>
</div>
<!-- item.ejs loads here -->
