<div id="search-bar">
  <form>
    <input type="text" id="searchInput" name="search" placeholder="Quick search...">
    <button type="submit" class="fa-solid fa-magnifying-glass"></button>
  </form>
</div>
<!-- item.ejs loads here -->
<% items.forEach(function(item) { %>
  <item>
    <img alt="<%= itemImageAlt %>" src="<%= itemImageUrl %>"/>
    <span><%= itemTitle %></span>
    <topic><%= itemTopic %></topic>
  </item>
<% }); %>
