/* CSS Input Layout */
form {
  display: flex;
  flex-direction: column;

  input {
    padding: 10px;
    margin: 10px 0px;
  }
}

/* Custom Layout for Add Resource */
#add-resource {
  input[type="radio"] {
    display: none; // Hide radio button
  }

  input[type="radio"] + label {
    display: inline-block;
    padding: 10px;
    margin: 10px 0px;
  }

}


/* Custom Layout for Search Bar */
#search-bar {
  width: 100%;
  min-width: 500px;

  form {
    display: block;
  }

  input {
    padding: 10px;
    width: 400px;
  }

  button {
    position: relative;
    left: -50px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: none;
  }
}
