/* CSS Global Layout */

body,
html {
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: flex-start;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 7px;
}

#section-container item {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 7px;
}

#search-bar {
  width: 100%;
  min-width: 500px;
}

#search-bar input {
  padding: 10px;
  margin: 5px;
  width: 400px;
  border: 2px solid black;
  border-radius: 7px;
}

#search-bar button {
  position: relative;
  left: -45px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background: none;
}

#section-container img {
  width: 150px;
  height: 150px;
  margin: 0px 0px 10px 0px;
  border-radius: 7px;
}

#footer-container {
  padding: 10px;
  margin: 5px;
  text-align: center;
}
