/* Main CSS Theme */

body {
/*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
  background-color: #EEE;
}

a, a:active, a:visited {
  text-decoration: none;
  color: rgb(93, 93, 93);
}

a:hover {
  color: rgb(47, 47, 47);
}

.nav-link {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 7px;
}
