/* CSS Navigation Layout */

#top-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 0px;
}

#nav-logo {
  flex: 0 0 213px;
}

#nav-main {
  flex-grow: 1;
}

#nav-user {
  flex-grow: 0;
}

#side-menu-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  padding: 10px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 7px;
}
