@use 'layout';
@use 'nav';
@use 'input';

/* Colour Theme
#f3f3f3 Seasalt
#E3F2FD Alice Blue
#DB5461 Indian Red
#686963 Dim Gray
#8AA29E Cambridge Blue
*/

$font-stack: Helvetica, sans-serif;
$body-bg-color: #FFF;
$container-bg-color: #FFF;
$border-size: 2px;
$border-color: #E3F2FD;
$border-radius: 10px;
$link-color: #DB5461;
$link-color-hover: #686963;
$button-bg-color: #f3f3f3;

/* CSS Theme */

body {
  font-family: $font-stack;
  background-color: $body-bg-color;
}

a, a:active, a:visited {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

.nav-link {
  border-radius: $border-radius;
  background-color: $button-bg-color;
}

#side-menu-container, #section-container {
  background-color: $container-bg-color;
}

#side-menu-container, #section-container, #search-bar input {
  border: $border-size solid $border-color;
  border-radius: $border-radius;
}

button {
  background: none;
}
