@use 'layout';
@use 'nav';
@use 'input';
@use 'responsive';

// Color Theme
$color1: #f3f3f3; //Seasalt
$color2: #E3F2FD; //Alice Blue
$color3: #DB5461; //Indian Red
$color4: #686963; //Dim Gray
$color5: #8AA29E; //Cambridge Blue
$color6: #ffebec; //Indian Red

$font-stack: Helvetica, sans-serif;
$body-bg-color: #FFF;
$container-bg-color: #FFF;
$border-size: 2px;
$border-color: #afc6d5;
$border-color2: #8AA29E;
$border-radius: 10px;
$link-color: #DB5461;
$link-color-hover: #686963;
$button-bg-color: #f3f3f3;

/* CSS Theme
 * Universal Styles
 */
body {
  font-family: $font-stack;
  background-color: $body-bg-color;
}

h1, h2, h3, h4, h5 {
  display: inline-block;
  margin: 0;
  padding: 0px 0px 10px 0px;
  width: 100%;
  color: $color4;
}

a, a:visited {
  display: inline-flex;
  text-decoration: none;
  color: $link-color;
}

a:hover, a:active {
  color: $link-color-hover;
}

#nav-user {
  span {
    padding: 0px 10px;
    color: $link-color-hover;
  }
}

/* Add Link with Style Button */
.nav-link, button {
  padding: 10px 15px;
  margin: 2px;
  border: none;
  border-radius: $border-radius;
  background-color: $button-bg-color;
  text-decoration: none;
  color: $link-color;
}

.nav-link:hover, button:hover {
  background-color: $link-color;
  color: $body-bg-color;
}

.topicBtn.selected{
  background-color: #db5461;
  color: $body-bg-color;
}

/* Add Background Color */
#side-menu-container, #section-container {
  background-color: $container-bg-color;
}

/* Add Border Style */
#side-menu-container, #section-container, input, textarea {
  border: $border-size solid $border-color;
  border-radius: $border-radius;
}

/* Main Container */
#section-container {
  item {
    border-radius: $border-radius;

    img {
      border-radius: $border-radius;
    }

    .title {
      padding: 5px;
      font-size: 1em;
    }

    .topic {
      padding: 5px;
      font-size: 0.8em;
      font-weight: bold;
      color: $link-color-hover;
    }
  }

  a.itemLink, a.itemLink:visited {
    border: 2px solid $border-color;
    background-color: $body-bg-color;
    border-radius: 15px;
    padding: 5px;
  }

  a.itemLink:hover, a.itemLink:active {
    border: 2px solid $link-color;
    background-color: $body-bg-color;
    border-radius: 15px;
  }

  .warning-box {
    display: none;
    padding: 20px;
    margin: 10px 0px 0px 0px;
    background-color: $color6;
    border-radius: $border-radius;
    color: $color3;
  }

}

/* Footer Container */
#footer-container {
  color: #8AA29E;
}

/* Custom Style */
#add-resource {
  input[type="radio"] + label {
    background-color: $body-bg-color;
    border: $border-size solid $border-color;
    border-radius: $border-radius;
    color: $color4;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background-color: $color5;
    border: $border-size solid $color5;
    border-radius: $border-radius;
    color: $body-bg-color;
  }
}

#resource-container {
  article {
    h1 {
      font-size: 2.5em;
      font-weight: normal;
    }

    h2 {
      font-size: 1.1em;
    }

    h3 {
      font-size: 1.5em;
      font-weight: normal;
    }

    button.disabledBtn, button.disabledBtn:active, button.disabledBtn:hover, button.disabledBtn:visited {
      background-color: $button-bg-color;
      color: $link-color-hover;
    }
  }
}

#search-bar {
  button {
    background: none;
    border: none;
  }

  button:hover {
    color: $link-color-hover;
  }
}
