@use 'layout';
@use 'nav';
@use 'input';

$font-stack: Helvetica, sans-serif;
$background-color: #EEEEEE;
$border-size: 2px;
$border-color: #8bdcff;
$border-radius: 7px;
$link-color: #333333;
$link-color-hover: #888888;

/* CSS Theme */

body {
/*   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
  background-color: $background-color;
}

a, a:active, a:visited {
  text-decoration: none;
  color: $link-color;
}

a:hover {
  color: $link-color-hover;
}

#side-menu-container, #section-container, #search-bar input, .nav-link {
  border: $border-size solid $border-color;
  border-radius: $border-radius;
}

button {
  background: none;
}
